# Environments
.env
.env.local
.env.*.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Audio / temporary files
temp_pdf/
temp_audio/
*.mp3
*.wav
*.pdf

# IDEs
.vscode/
.idea/
